:root{
    --primario: #30888E;
    --primarioClaro: #6ec4ca ;
    --secundarioClaro: #dfc34a ;
    --secundarioOscuro: RGB (231, 185, 100 );
    --blanco: #FFF;
    --negro: #000;
    --fuentePrincipal: font-family: 'Golos Text', sans-serif;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
html{
    font-size: 62.5%;
    box-sizing: border-box; 
}
/* globales abajo */
body{
    font-size: 1.6rem;
    background-color: var(--primario);
    line-height: 1.5;
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}
h1, h2, h3{
    text-align: center;
    color: var(--secundarioClaro);
    font-family: var(--fuentePrincipal);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
/* /* globales arriba */

/* header abajo */
.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}
/* navegacion abajo */
.navegacion{
    background-color: var(--primarioClaro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;  /*espacio entre elementos no soportado por todos */
}
.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
    margin-right: 2rem; /*espacio entre elementos sin gap*/
}
.navegacion__enlace:last-of-type{ /*elimina el espacio de nosotros que desentra el nav*/
    margin-right: 0;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundarioClaro);

}
/* footer abajo */
.footer{
    background-color: var(--primarioClaro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__text{
    font-size: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}
/**productos abajo **/
.producto{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}
.producto__imagen{
}
.producto__informacion{
}
.producto__nombre{

}
.producto__precio{

}